<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../admin/css/index.css">
  </head>
  <body>
      <div class="app">
          <div class="d-flex">
              <div class="menud" style="width:20%;position: fixed;background-color:#0091ff;height:100vh">
                  <div class="title_name">
                    <i class="fas fa-user-circle"></i>
                    <span class="span_hidden">
                      Xin chào 
                    </span>
                  </div>
                  <a class="title_menud_link" href="/admin">
                    <div class="title_menud">
                      <i class="fas fa-chart-line"></i>
                      <span class="span_hidden">
                        DashBoard
                      </span>  
                    </div>
                  </a>
                  <a class="title_menud_link" href="/admin/story">
                    <div class="title_menud">
                      <i class="fas fa-book"></i>
                      <span class="span_hidden">
                        Truyện tranh
                      </span>  
                    </div>
                  </a>
                  <a class="title_menud_link" href="/admin/comment">
                    <div class="title_menud">
                      <i class="fas fa-comments"></i>
                      <span class="span_hidden">
                        Bình luận
                      </span>  
                    </div>
                  </a>
                  <a class="title_menud_link" href="/admin/account">
                    <div class="title_menud">
                      <i class="fas fa-user-alt"></i>
                      <span class="span_hidden">
                        Tài khoản
                      </span>  
                    </div>
                  </a>
              </div>
              <div class="container_custom" style="width: 80%;margin-left:20%" >
                <div class="navbar_style">
                  <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <div class="container d-flex justify-content-between">
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                      <div>
                        <i class="fas fa-bell"></i>
                        <span>Thông báo</span>
                      </div>
                    </div>
                  </nav>
                </div>
                <div class="content ml-5 mr-5">
                  <div class="row">
                    <% let idDelete 
                    posts.forEach(function(post){ %>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="card border-primary" style="width: 100%; margin-top:10px" >
                                <div class="d-flex">
                                    <img src="<%=post.imgUrl%>" class="card-img-top" alt="..." style="width: 100px;"> 
                                    <div class="card-body">
                                        <h5 class="card-title"><%= post.title %></h5>
                                        <button class="btn btn-primary btn-sm">
                                          <i class="far fa-eye"></i>
                                        </button>
                                        <button data-toggle="modal" data-target="#modal_edit" data-id="<%=post._id%>" data-post="<%=post%>" class="btn btn-info btn-sm">
                                          <i class="fas fa-pen"></i>
                                        </button>
                                        <!-- Xóa -->
                                        <button data-toggle="modal" data-target="#modal_confirm" class="btn btn-danger btn-sm" data-id="<%=post._id%>">
                                          <i class="fas fa-trash"></i>
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                      <% }); %>
                  </div>
                </div>
              </div>
          </div>
          <div>
              <button data-toggle="modal" data-target="#modal_add" class=" btn btn-primary"style="position:fixed;bottom:50px;right:50px; border-radius:50%; width: 60px;height:60px">
                <i style="font-size:20px;margin-top:5px" class="fas fa-plus-circle"></i>
              </button>
          </div>
        </div>
        <%- include ('./modal_add'); %>
        <%- include ('./modal_confirm'); %>
        <%- include ('./modal_edit'); %>
        <form method="POST" name="delete-story-form"></form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      var idDeleteStory
      var post
      var idEditStory
      var btnDeleteStory=document.getElementById("btnDeleteStory")
      var btnEditStory=document.getElementById("btnEditStory")
      var delForm=document.forms['delete-story-form']
      var editForm=document.forms['edit-story-form']
      
      $('#modal_confirm').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) 
          idDeleteStory= button.data('id')
          // console.log(idDeleteStory)
      })
      $('#modal_edit').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) 
          post = button.data('post').split(',')
          idEditStory=button.data('id')
          console.log(post)
          var modal = $(this)
          // console.log(idDeleteStory)
          modal.find('.nameStory').val(post[1].split(':')[1].slice(2,-1))
          modal.find('.desStory').val(post[2].split(':')[1].slice(2,-1))
          modal.find('.imgStory').val((post[3].split(':')[1]+":"+post[3].split(':')[2]).slice(2,-1))
      })
      btnDeleteStory.onclick =function () {
        delForm.action=`/admin/story/${idDeleteStory}?_method=DELETE`
        delForm.submit()
      }
      btnEditStory.onclick =function () {
        editForm.action=`/admin/story/${idEditStory}?_method=PUT`
        editForm.submit()
      }
      var imgStory=$('#imgStory')
    </script>
  </body>
</html>